@import "../../../style/colors.scss";

.create-account-wrapper {
  color: $primary-blue;
  font-size: 1.2rem;

  .create-account__board {
    border: 0.5px solid $primary-blue;
    border-radius: 4px;
    // height: 60vh;
    width: 80vw;
    margin: 10% auto 0;
    box-shadow: 0 30px 60px -12px $dark-gray, 0 10px 36px -10px $darker-gray;
  }

  .create-account__board__content {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  form {
    width: 80%;
  }

  .create-account__board__content__form-buttons {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.6rem;
    button {
      margin: 5px;
      color: $primary-blue;
      background-color: $white;
      border: 1px solid $primary-blue;
      &:hover {
        border: 1px solid $primary-blue;
        background-color: $primary-blue;
        color: $white;
      }
    }
  }

  .create-account__board__content-failed {
    align-self: center;
    font-style: italic;
    font-size: 1rem;
    color: red;
    text-align: center;
  }

  .inActive {
    visibility: hidden;
  }

  .create-account__board__content-account-options {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
}
