@import "./primary";
@import "../../../style/colors.scss";

$tablet-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1200px;

@media screen and (min-width: $tablet-width) {
  @import "./768";
}
@media screen and (min-width: $desktop-width) {
  @import "./1024";
}
@media screen and (min-width: $large-desktop-width) {
  @import "./1200";
}
