@import "./style/colors.scss";
@import "./style/functions.scss";
@import "./style/mixins.scss";

body {
  margin: 0;
  background: $white;
}

.app {
  height: 100%;
  width: 100%;
  overflow: auto;
  font-size: 14px;
}
