@import "../../style/colors.scss";

.date-selector-wrapper {
  width: 100%;
  height: 80px;
}

.date-selector-wrapper .glyphicon {
  color: $primary-blue;
  padding-bottom: 20px;
}

.date-selector-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.date-selector-wrapper span {
  padding: 10px 20px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.dates {
  width: 400px;
  transition: 0.2s ease-in-out;
  text-align: center;
  background-color: $primary-blue;
  color: $white;
}

.notActive {
  height: 50px;
}

.isActive {
  background-color: $white;
  color: $primary-blue;
  height: 70px;
  // width: 500px;
  border-bottom: none;
  z-index: 99;
}
