.date-selector-wrapper {
  background-color: lightgray;
  width: 100%;
  height: 80px;
}

.date-selector-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.date-selector-wrapper span {
  padding: 10px 20px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0 -30px 60px -12px rgb(50 50 93 / 25%);
}

.dates {
  width: 400px;
  transition: 0.2s ease-in-out;
  text-align: center;
  background-color: #02203c;
  color: white;
}

.notActive {
  height: 50px;
}

.isActive {
  background-color: white;
  color: #02203c;
  height: 70px;
  border-bottom: none;
}
