@import "../../style/colors.scss";

.meals-modal__content {
  background: $white;
  height: 700px;
  width: 800px;
  opacity: 1;
  box-shadow: 0 0 60px 10px $dark-gray; //rgb(50 50 93 / 25%);
  border-radius: 4px;

  .glyphicon-remove:hover {
    cursor: pointer;
    color: black;
  }

  .meals-modal__content__header {
    width: 100%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid $light-gray;
  }

  .meals-modal__content__header-left {
    width: 10%;
  }

  .meals-modal__content__header-title {
    flex-grow: 1;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
  }

  .meals-modal__content__header-right {
    width: 10%;
    align-items: center;
    text-align: center;
    padding: 0 10px 0 0;
    font-size: 20px;
    color: $light-gray;
  }

  .meals-modal__content__form {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    overflow: scroll;
    max-height: 550px;
  }

  .meals-modal__content__form-field {
    background-color: $faded-white;
    background: none;
    outline: none;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px;
    height: auto;

    input {
      outline: none;
      border: none;
      width: 100%;
      border-bottom: 1px solid $primary-blue;
    }
  }

  #mealCategory {
    /* appearance: none; */
    border: 1px solid $primary-blue;
    padding: 5px;
    /* background-color: red; */
    border-radius: 4px;
  }

  textarea {
    width: 100%;
    height: 100px;
    /* border: none; */
    outline: none;
    resize: none;
  }

  .extension {
    min-height: 40px;
    width: 60%;
    user-select: none;

    span:hover {
      cursor: pointer;
    }

    li {
      display: inline-block;
      overflow-wrap: normal;
    }
  }

  .instruction-extension {
    min-height: 40px;
    width: 80%;
    user-select: none;
    padding: 0;
  }
  .instruction-tag {
    padding: 5px;
    margin: 0;
    border-radius: 4px;
    color: $primary-blue;
    background: $white;
    border: 1px solid $primary-blue;
    margin-bottom: 2px;
  }

  .tag {
    display: inline-block;
    padding: 5px;
    border-radius: 4px;
    background: $primary-blue;
    color: $white;
    margin-right: 2px;
    margin-bottom: 2px;
  }

  :focus {
    outline: none;
  }

  .meals-modal__content-btns {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 15px 0;
  }

  #submit {
    padding: 10px;
    background-color: $white;
    color: $primary-blue;
    border: 1px solid $primary-blue;
    font-weight: bold;
    border-radius: 25px;
    box-sizing: border-box;
  }

  #submit:hover {
    cursor: pointer;
    background-color: $primary-blue;
    color: $white;
  }

  .disabled {
    background: $dark-white !important;
    border: 1px solid $dark-white !important;
    cursor: not-allowed !important;
    color: black !important;
  }
}
