@import "../../style/colors.scss";

.topbar-wrapper {
  background-color: $primary-blue;
  display: flex;
  height: 75px;
  box-sizing: border-box;
  margin: 0;
  position: relative;

  .topbar__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    color: $white;
    font-weight: bold;
    font-size: 2rem;
  }

  .topbar__leftover {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  .topbar__leftover-icon {
    background-color: $white;
    /* border-radius: 50%; */
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: $primary-blue;
  }

  span:hover {
    cursor: pointer;
  }
}
