.topbar-wrapper {
  background-color: #008ecd;
  display: flex;
  height: 75px;
  box-sizing: border-box;
  margin: 0;
}

.topbar-wrapper span:hover {
  cursor: pointer;
}

.topbar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  color: white;
  font-weight: bold;
}

.topbar-leftover {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

img {
  width: 75px;
  height: 75px;
}
