/* *,
*::before,
*::after {
  box-sizing: border-box;
  padding: 10px;
  
  margin: 0;
} */

.topbar-wrapper {
  background-color: #008ecd;
  display: flex;
  height: 60px;
}

.topbar-title {
  padding: 10px;
  border: 1px solid black;
  margin: auto;
}
