/* .grow:hover {
  transform: scale(1.05);
} */

.glow:hover {
  box-shadow: 0 0 10px 0.2px hsl(209, 94%, 12%);
}

.mealbox-wrapper {
  height: 250px;
  width: 600px;
  background-color: white;
  box-shadow: 0 30px 60px -12px rgb(50 50 93 / 25%),
    0 18px 36px -18px rgb(0 0 0 / 30%);
  border-radius: 25px;
  margin: 10px;
}

.mealbox-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #02203c;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  color: white;
}

.mealbox-content-displayname {
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 15px;
  display: inline-block;
  width: 175px;
  flex-grow: 1;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mealbox-content-header-options {
  display: flex;
  align-items: flex-start;
  padding: 5px 15px 5px 0;
}
.mealbox-content-header-options span {
  padding: 5px;
}
.mealbox-content-header-options span:hover {
  cursor: pointer;
}

/* .mealbox-content-ingredients {
  text-align: left;
} */

.mealbox-content-description {
  padding: 10px;
  text-align: left;
}

.mealbox-content-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  bottom: 0;
  font-size: 1rem;
  /* background-color: #02203c;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px; */
}
