/* .grow:hover {
  transform: scale(1.05);
} */

.glow:hover {
  box-shadow: 0 0 10px 0.2px #02203c;
}

.mealbox-wrapper {
  margin: 10px;
  border-radius: 25px;
  box-shadow: 0 0 10px 2px rgba(156, 156, 156, 0.2);
}
.mealbox__content {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 600px;
}

.mealbox__content__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #02203c;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  color: #ffffff;
}

.mealbox__content__header-displayname {
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 15px;
  display: inline-block;
  width: 175px;
  flex-grow: 1;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mealbox__content__header-options {
  display: flex;
  align-items: flex-start;
  padding: 5px 15px 5px 5px;
}
.mealbox__content__header-options span {
  border-radius: 4px;
  padding: 5px;
}

.mealbox__content__header-options span:hover {
  background-color: #ffffff;
  color: #02203c;
  cursor: pointer;
}

.mealbox__content__body {
  /* flex-grow: 1; */
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.mealbox__content__body div {
  padding: 5px 5px 0px 10px;
  overflow: scroll;
  width: 100%;
  text-align: left;
}
.mealbox__content__body__description {
  word-wrap: break-word;
}
.mealbox__content__body__ingredients ol {
  padding: 0;
  list-style-type: decimal;
  list-style-position: inside;
  width: 100%;
}

.mealbox__content__body__ingredients ol li {
  word-break: break-all;
}

.mealbox__content__footer {
  border-top: 1px solid lightgray;
  margin: 0 5px;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  bottom: 0;
  font-size: 1rem;
}
