// $light-gray:
$highlight-blue: #aec6dd;
$primary-blue: #02203c;
$white: #ffffff;
$dark-white: #e9e8e8;
$faded-white: #fafafa;
$light-gray: rgb(212, 212, 212);
$dark-gray: rgba(156, 156, 156, 0.2);
$darker-gray: rgba(116, 116, 116, 0.2);
$faded-gray: rgba(182, 182, 182, 0.2);
