@import "../../../style/colors.scss";

.mealbox-wrapper {
  margin: 10px;
  border-radius: 25px;
  box-shadow: 0 0 10px 2px $dark-gray;

  .mealbox__content__header-displayname {
    font-size: 1.5rem;
    padding-left: 15px;
  }

  .mealbox__content {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 600px;
  }
}
