@import "../../../style/colors.scss";

.glow:hover {
  box-shadow: 0 0 10px 0.2px $primary-blue;
}

.mealbox-wrapper {
  margin: 10px;
  border-radius: 25px;
  box-shadow: 0 0 10px 2px $dark-gray;

  .mealbox__content {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 275px;
  }

  .mealbox__content__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-blue;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    color: $white;
  }

  .mealbox__content__header-displayname {
    font-weight: bold;
    font-size: 1.3rem;
    padding-left: 10px;
    display: inline-block;
    flex-grow: 1;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .mealbox__content__header-options {
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 5px;
    span {
      padding: 5px;
      &:hover {
        border-radius: 4px;
        background-color: $white;
        color: $primary-blue;
        cursor: pointer;
      }
    }
  }

  .mealbox__content__body {
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    div {
      padding: 5px 5px 0px 10px;
      overflow: scroll;
      width: 100%;
      text-align: left;
    }
  }

  .mealbox__content__body__description {
    word-wrap: break-word;
  }
  .mealbox__content__body__ingredients ol {
    padding: 0;
    list-style-type: decimal;
    list-style-position: inside;
    width: 100%;
    li {
      word-break: break-all;
    }
  }

  .mealbox__content__footer {
    border-top: 1px solid lightgray;
    margin: 0 5px;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    bottom: 0;
    font-size: 1rem;
  }
}
