.calendar-content-wrapper {
  display: flex;
}

.glyphicon-chevron-left .glyphicon-chevron-right {
  color: #02203c;
  font-size: 20px;
}

span:hover {
  cursor: pointer;
}

.calendar-content-board {
  display: inline-block;
  height: 100vh;
  width: 70%;
}

.calendar-content-board-dates {
  background-color: lightgray;
  width: 100%;
  height: 80px;
}

.calendar-content-board-dates {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.calendar-content-board-dates span {
  padding: 10px 20px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0 -30px 60px -12px rgb(50 50 93 / 25%);
}

.notActive {
  height: 50px;
  background-color: #02203c;
  color: white;
  transition: 0.2s ease-in-out;
}

.isActive {
  border-bottom: none;
  background-color: white;
  color: #02203c;
  height: 70px;
  transition: 0.2s ease-in-out;
}
.calendar-content-meal-selection {
  height: 100vh;
  flex-grow: 1;
  overflow: hidden;
  border-left: 1px solid #02203c;
  box-shadow: 0 0 20px 0.5px #000000;
}
/* rgb(50 50 93 / 25%); */
.calendar-content-meal-selection-filter {
  background-color: darkgray;
  height: 15%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 5px;
  column-gap: 5px;
  padding: 10px;
}

/* .calendar-content-meal-selection-filter span {
  border: 1px solid black;
} */

.filterBtn {
  display: flex;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.filterBtn:hover {
  background-color: #02203c;
  color: white;
}

#all {
  grid-column: 2 / 4;
  grid-row: 1;
  width: 70%;
  margin: 0 auto;
}

#breakfast {
  grid-column: 1;
  grid-row: 2;
}

#lunch {
  grid-column: 2;
  grid-row: 2;
}

#dinner {
  grid-column: 3;
  grid-row: 2;
}

#snacks {
  grid-column: 4;
  grid-row: 2;
}

#search {
  border: none;
}

.glyphicon-search span:hover {
  text-decoration: none;
}

.glyphicon-search {
  grid-column: 1/5;
  grid-row: 3;
  padding: 0 10px;
  display: flex;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.glyphicon-search input {
  /* appearance: none; */
  outline: none;
  width: 100%;
  padding: 0 20px;
}

.calendar-content-meal-selection-scroll {
  padding: 0;
  list-style-type: none;
  overflow: scroll;
  height: 85%;
}
.selection-scroll-meal {
  border: 1px solid lightgray;
  width: 100%;
  /* height: 15%; */
  height: 25%;
  /* height: 120px; */
  box-shadow: 0 0 10px 0.2px #adadad;
}
.selection-scroll-meal:hover {
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}

.calendar-content-board-planner {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-content-board-planner-meal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  width: 80%;
  margin: 25px;
}

/* .calendar-content-board-planner-meal-drop {
  border: 1px solid lightgray;
  width: 400px;
  height: 120px;
} */

/* .active {
  box-shadow: 0 0 10px 0.2px #02203c;
  cursor: pointer;
}

.active:hover {
  background-color: #aec6dd;
} */
