@import "../../../style/colors.scss";

.dashboard-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.dashboard__content-inner {
  box-sizing: border-box;
  height: calc(100vh - 75px);
}
