.meals-content-wrapper {
  overflow: scroll;
  height: 100%;
  color: #02203c;
}

.meals-content-board {
  border-radius: 4px;
  height: 80%;
  width: 90%;
  margin: auto;
  margin-top: 5%;
  background-color: #fafafa;
  overflow-y: scroll;
  /* box-shadow: 0 30px 60px -12px rgb(50 50 93 / 25%), */
  box-shadow: 0 0px 36px -18px rgb(0 0 0 / 30%);
}

.meal-content-header {
  text-align: center;
}

.meals-content-mealboxes {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
