.meals-wrapper {
  height: 100%;
  color: #02203c;
  padding-top: 50px;
}

.meals-wrapper .glyphicon-search {
  width: 95%;
  height: 100%;
  padding: 0 10px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0px 36px -18px rgb(0 0 0 / 30%);
}

.meals__board {
  border-radius: 4px;
  height: 95%;
  width: 90%;
  margin: auto;
  background-color: #fafafa;
  box-shadow: 0 0px 36px -18px rgb(0 0 0 / 30%);
}

.meals__board__header {
  display: grid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  grid-template-columns: 1fr 1fr 1fr;
  height: 70px;
  border-bottom: 1px solid lightgray;
}

.meals__board__header div {
  text-align: center;
}

.meals__board__header-search {
  display: flex;
  justify-content: center;
  padding: 10px 5px;
}

.meals-wrapper #search {
  border: none;
  width: 100%;
  font-size: 18px;
}

.meals__board__header-title {
  font-weight: bold;
  font-size: 24px;
  padding-top: 15px;
}

.meals__board__header-create {
  padding: 15px;
}

.meals__board__header-create button {
  border-radius: 10px;
  color: #02203c;
  background: none;
  font-weight: bold;
  padding: 5px;
  border: none;
}

.meals__board__header-create button:hover {
  color: white;
  background: #02203c;
}

.meals__board__scroll {
  overflow: scroll;
  height: calc(100% - 100px);
}

.meals__board__scroll ul {
  list-style-type: none;
}

.meals__board__scroll-mealboxes {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search:focus ~ .border {
  width: 100%;
  transition: 1.5s;
}
.search ~ .border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
}

.border {
  border-top: 1px solid #4285f4 !important;
}
