@import "../../style/colors.scss";
.meals-wrapper {
  height: 100%;
  color: $primary-blue;
  padding-top: 50px;

  .glyphicon-search {
    width: 95%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: $white;
    box-shadow: 0 0px 36px -10px $darker-gray;
  }

  .meals__board {
    border-radius: 4px;
    height: 95%;
    width: 90%;
    margin: auto;
    background-color: $faded-white;
    box-shadow: 0 0px 20px -1px $darker-gray;
  }

  .meals__board__header {
    display: grid;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 70px;
    border-bottom: 1px solid $light-gray;

    div {
      text-align: center;
    }
  }

  .meals__board__header-search {
    display: flex;
    justify-content: center;
    padding: 10px 5px;

    #search {
      padding-left: 20px;
      border: none;
      width: 100%;
      font-size: 18px;
    }
  }

  .meals__board__header-title {
    font-weight: bold;
    font-size: 24px;
    padding-top: 15px;
  }

  .meals__board__header-create {
    padding: 15px;
    button {
      border-radius: 10px;
      color: $primary-blue;
      background: none;
      font-weight: bold;
      padding: 5px;
      border: none;
    }
    button:hover {
      color: $white;
      background: $primary-blue;
    }
  }

  .meals__board__scroll {
    overflow: scroll;
    height: calc(100% - 100px);
  }

  .meals__board__scroll-mealboxes {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
