@import "../../../style/colors.scss";

.calendar-wrapper {
  display: flex;
  height: 100%;

  .glyphicon-chevron-left .glyphicon-chevron-right {
    color: $primary-blue;
  }

  span:hover {
    cursor: pointer;
  }

  .calendar__board {
    display: inline-block;
    width: 100%;
  }

  ::-webkit-scrollbar {
    height: 0px;
    /* background: transparent; make scrollbar transparent */
  }

  .calendar__board__planner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .calendar__board__planner_mobile-menu {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px 10px 0;
    color: $primary-blue;
    font-size: 2rem;
  }

  .calendar__planner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .calendar__planner-meal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .calendar__planner-meal label {
    width: 100%;
    text-align: center;
  }
}
