@import "../../../style/colors.scss";
.meal-selection-wrapper {
  display: flex;
  height: 100%;

  .glyphicon-chevron-left .glyphicon-chevron-right {
    color: $primary-blue;
  }

  span:hover {
    cursor: pointer;
  }

  .meal-selection__board {
    display: inline-block;
    width: 70%;
  }

  .meal-selection__board__dates {
    background-color: $light-gray;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .meal-selection-content__selection {
    height: calc(100vh - 75px);
    flex-grow: 1;
    overflow: hidden;
    border-left: 1px solid $primary-blue;
  }

  .meal-selection-content__selection-scroll {
    padding: 0;
    overflow: scroll;
    height: calc(100vh - 195px);
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    p {
      padding: 7px;
      text-align: left;
    }
  }

  .meal-selection__selection__meal-wrapper {
    border-bottom: 1px solid $dark-gray;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .meal-selection__selection__meal {
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    height: 170px;
    font-size: 12px;
    box-shadow: 0 0px 60px -5px $faded-gray, 0 0px 36px -10px $darker-gray;
    &:hover {
      cursor: pointer;
      background-color: $light-gray;
    }
  }

  .meal-selection__selection__meal-header {
    background-color: $primary-blue;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    color: $white;
  }

  .meal-selection__selection__meal-displayname {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 5px 0 0 15px;
    display: inline-block;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .__meal-tag {
    display: inline;
    padding: 5px;
    border-radius: 4px;
    background: $primary-blue;
    color: $white;
    margin-right: 2px;
    margin-bottom: 2px;
  }

  .meal-selection__selection__meal-body {
    padding: 0px 5px;
    text-align: left;
    overflow: hidden;
  }

  ::-webkit-scrollbar {
    height: 0px;
    /* background: transparent; make scrollbar transparent */
  }

  .meal-selection__selection__meal-tags {
    display: flex;
    overflow: auto;
    white-space: nowrap;
  }

  .meal-selection__board__planner {
    display: grid;
    grid-template-columns: 15% 70% 15%;
  }

  .meal-selection__planner-saver {
    padding: 20px;
    text-align: center;
  }

  .meal-selection__planner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }

  .meal-selection__planner-meal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 40px 10px 0;
  }

  .meal-selection__planner-meal label {
    width: 100%;
    text-align: center;
  }

  hr {
    margin: 10px 5px;
    border-top: 1px solid $primary-blue;
  }
}
