@import "../../style/colors.scss";

.selection-filter-wrapper {
  background-color: $light-gray;
  height: 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 5px;
  column-gap: 5px;
  padding: 10px;

  .filterBtn {
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: $white;
  }

  .filterBtn:hover {
    /* background-color: .filter-selection-wrapper $primary-blue;
  color: $white; */
  }

  .activeCate {
    background-color: $primary-blue;
    color: $white;
    box-shadow: inset 100px 0 0 0 $primary-blue;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }

  #all {
    grid-column: 2 / 4;
    grid-row: 1;
    width: 70%;
    margin: 0 auto;
  }

  #breakfast {
    grid-column: 1;
    grid-row: 2;
  }

  #lunch {
    grid-column: 2;
    grid-row: 2;
  }

  #dinner {
    grid-column: 3;
    grid-row: 2;
  }

  #snack {
    grid-column: 4;
    grid-row: 2;
  }

  #search {
    border: none;
  }

  .glyphicon-search {
    grid-column: 1/5;
    grid-row: 3;
    padding: 0 10px;
    display: flex;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    background-color: $white;

    span:hover {
      text-decoration: none;
    }

    input {
      outline: none;
      width: 100%;
      padding: 0 20px;
    }
  }
}
