.navigationbar-wrapper {
  box-sizing: border-box;
  width: 200px;
  min-height: 100%;
  background-color: #e9e8e8;
  text-align: center;
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
}

ul {
  list-style-type: none;
  text-align: center;
}

.navigationbar-link {
  display: inline-flex;
  text-decoration: none !important;
  color: #008ecd;
  text-align: center;
  padding: 20px 0;
}
.navigationbar-link-list {
  /* padding: 40px 0px 0px 0px; */
  padding: 0px;
  margin: 0;
}
.navigationbar-link-list li:hover {
  background-color: #d8d6d6;
  /* cursor: pointer; */
}
